.chat
  .chat__side
  .chat__main
    .chat__main__header
      .chat__main__header-left
        %h2 チャットグループ名
        %p.chat__main__header__users
          Members: メンバー
  .chat__body
    %ul.chat__body__messages
      = render partial: 'message', collection: @messages
