.chat__user
  %h5= current_user.nickname
  .chat__user__actions
    %a.chat__user__action{ href: new_chat_group_path }
      a
    %a.chat__user__action{ href: edit_user_registration_path }
      b

%ul.chat__groups
  - current_user.chat_groups.each do |chat_group|
    %li.chat__groups
      %a.chat__group__link{ href: chat_group_messages_path(chat_group) }
        %p.chat__group__name = chat_group.name
        %p.chat__group__message
          - if last_message = chat_group.messages.last
            - if last_message.image?
              画像を送信しました。
            - else
              = last_message.body
          - else
            まだメッセージはありません。