.container
  .container__letter-container
    .container__letter-container__letter-block
      = render @letters
  
  .container__pagination-center
    .container__pagination-center__format
      = paginate(@letters)
