.header {
  width: 100%;
  min-width: 600px;
  height: 50px;
  position: fixed;
  box-shadow: 0 0 2px #666;
  background-color: #660033;
  color: #FFFFFF;
  z-index: 100;
  &__title {
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    width: 300px;
    &__font {
      color: #FFFFFF;
    }
  }
  &__nav {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 12px;
    &__user {
      position: relative;
      right: 100px;
      top: 3px;
      height: 40px;
      width: 40px;
      &__avatar {
        width: 26px;
        height: 26px;
        border-radius: 26px;
        &:hover {
          opacity: 0.8;
          cursor: pointer;
        }
      }
    }
    &__user-index {
      position: relative;
      bottom: 28px;
      right: 100px;
      width: 24px;
      height: 24px;
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
    &__user-storage {
      position: relative;
      bottom: 29px;
      right: 70px;
      width: 24px;
      height: 24px;
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
    &__new-letter {
      position: relative;
      bottom: 30px;
      right: 40px;
      width: 24px;
      height: 24px;
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
    &__regist {
      position: relative;
      top: 17px;
      right: 90px;
      &__font {
        color: #FFFFFF;
      }
    }
    &__login {
      position: relative;
      top: 4px;
      right: 10px;
      &__font {
        color: #FFFFFF;
      }
    }
  }
}

.user {
  z-index: 10000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  &__back {
    z-index: 10001;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    &__user-menu {
      position: fixed;
      top: 52px;
      right: 210px;
      z-index: 10002;
      min-width: 120px;
      background-color: #FFF;
      border-radius: 3px;
      box-shadow: 0 0 4px #CCC;
      &__user-name {
        padding: 15px;
        &:hover {
          background-color: #EFEFEF;
        }
        &__font {
          color: black;
          font-size: 14px;
        }
      }
      &__user-edit {
        padding: 15px;
        border-top: 1px solid #D9D9D9;
        &:hover {
          background-color: #EFEFEF;
        }
        &__font {
          color: black;
          font-size: 14px;
        }
      }
      &__logout {
        padding: 15px;
        border-top: 1px solid #D9D9D9;
        &:hover {
          background-color: #EFEFEF;
        }
        &__font {
          color: black;
          font-size: 14px;
        }
      }
    }
  }
}

#user-menu-container {
  display: none;
}
