.container
  .container__right-top
    .container__right-top__name
      ユーザー名簿
    .container__right-top__new-user
      = link_to 'ユーザー新規登録', new_admin_user_path, class: 'container__right-top__new-user__btn'
    .container__right-top__user-info
      = render partial: 'user', collection: @users
