.header
  .header__title
    %h1
      = link_to 'What does the fox say', root_path, class: 'header__title__font'
  .header__nav
    = image_tag "yogoken.png", class: "header__nav__user", id: "books"
    = image_tag "pen.png", class: "header__nav__new-letter", id: "letter-new"
    = render partial: 'letters/new_modal'
