.container {
  @include clearfix();
  overflow-x: hidden;
  padding-top: 50px;
  width: 100%;
  height: 100%;
  min-height: 630px;
  background-color: #EFEFEF;
  &__user-area {
    position: fixed;
    width: 200px;
    height: 680px;
    background-color: #FFF;
    box-shadow: 0 0 2px #EAEAEA;
    &__user {
      height: 150px;
      &__thumbnail {
        text-align: center;
        padding: 30px 0 10px;
        &__avatar {
          width: 60px;
          height: 60px;
          border-radius: 60px;
        }
      }
      &__name {
        text-align: center;
        &__font {
          color: black;
        }
      }
    }
    &__follow-info {
      @include clearfix();
      padding: 10px 0;
      margin: 0 auto;
      width: 180px;
      height: 50px;
      border-top: solid 1px #999;
      &__following {
        width: 88px;
        height: 50px;
        float: left;
        border-right: solid 1px #999;
        color: black;
        &__count {
          margin-top: 5px;
          text-align: center;
          font-size: 18px;
        }
        &__caption {
          margin-top: 5px;
          text-align: center;
          font-size: 8px;
        }
      }
      &__follower {
        width: 88px;
        height: 50px;
        float: right;
        color: black;
        &__count {
          margin-top: 5px;
          text-align: center;
          font-size: 18px;
        }
        &__caption {
          margin-top: 5px;
          text-align: center;
          font-size: 8px;
        }
      }
    }
  }
  &__letter-container {
    @include clearfix();
    margin: 20px 0;
    padding-top: 28px;
    &__popular-block {
      width: 920px;
      height: 20px;
      background-color: #191970;
      margin: 3px auto;
      &__font {
        line-height: 20px;
        color: white;
      }
    }
    &__newest-block {
      width: 920px;
      height: 20px;
      background-color: #8B0000;
      margin: 3px auto;
      &__font {
        line-height: 20px;
        color: white;
      }
    }
    &__letter-block {
      margin: 0 auto;
      width: 950px;
      &__individual-letter {
        margin: 7px;
        float: left;
        width: 300px;
        background-color: #FFF;
        &__thumbnail {
          height: 130px;
          &__image {
            width: 100%;
            height: 100%;
          }
          &__picks-box {
            position: relative;
            bottom: 125px;
            left: 229px;
            text-align: center;
            padding: 7px 0;
            width: 70px;
            background-color: rgba(45, 45, 45, 0.5);
            border: 1px solid #FFFFFF;
            &__cover {
              display: inline;
              &__size {
                display: inline;
                font-size: 14px;
                font-family: Helvetica;
                color: #FFFFFF;
              }
              &__picks {
                display: inline;
                line-height: 14px;
                font-size: 10px;
                font-family: Helvetica;
                color: #FFFFFF;
              }
            }
          }
        }
        &__title {
          margin: 10px;
          height: 50px;
          &__font {
            line-height: 25px;
            color: black;
          }
        }
        &__user {
          @include clearfix();
          margin: 10px;
          height: 50px;
          display: block;
          color: black;
          &__thumbnail {
            float: left;
            width: 50px;
            height: 50px;
            &__image {
              width: 100%;
              height: 100%;
            }
          }
          &__info {
            float: left;
            &__name {
              margin-left: 5px;
              height: 25px;
              line-height: 25px;
              font-size: 15px;
            }
            &__profile {
              margin-left: 5px;
              height: 25px;
              line-height: 25px;
              font-size: 12px;
              color: #999;
            }
          }
        }
        &__user-comment {
          display: block;
          margin: 10px;
          height: 40px;
          font-size: 13px;
          color: black;
        }
        &__pickers {
          @include clearfix();
          margin: 10px;
          &__individual-picker {
            padding-right: 5px;
            float: left;
            width: 30px;
            height: 30px;
          }
        }
        &__sub-info {
          @include clearfix();
          padding: 8px 0;
          border-top: 1px solid #EAEAEA;
          &__publisher {
            float: left;
            margin-left: 8px;
            font-size: 10px;
            color: #999;
          }
          &__time {
            float: left;
            margin-left: 8px;
            font-size: 10px;
            color: #999;
          }
        }
      }
    }
  }
}

